:root {
  --primary-violet: #570a8c;
  --secondary-blue: #857beb;
  --accent-yellow: #f0d0a7;
  --bg-white: #ffffff;
  --bg-light: #f8f7ff;
  --shadow-soft: rgba(80, 49, 128, 0.15);
  --text-dark: #1a1a1a;
  --text-light: #ffffff;
}

/* Fix sidebar - ALWAYS STICK LEFT */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh; /* full height */
  background-color: var(--primary-violet);
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 8px var(--shadow-soft);
  padding-bottom: 20px;
  overflow-y: auto;
}

/* Main dashboard moves to right */
.main-content {
  margin-left: 250px;
  padding: 1.5rem 2rem;
  height: 100vh;
  overflow-y: scroll;
  background: var(--bg-light);
  display: flex;
  flex-direction: column;
}

/* Sidebar header */
.sidebar-header {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1.5rem 1.5rem 1rem;
  border-bottom: 1px solid #6a3daf;
}

/* Sidebar links */
.nav-item {
  display: flex;
  align-items: center;
  padding: 0.85rem 1.2rem;
  margin: 0.3rem 1rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.nav-item {
  color: var(--text-light);
  text-decoration: none;
}
.nav-item * {
  color: var(--text-light);
  text-decoration: none;
}
a { text-decoration: none; color: inherit; }


.nav-item:hover {
  background-color: var(--secondary-blue);
  box-shadow: 0 0 12px var(--secondary-blue);
}

.nav-icon {
  width: 30px;
  margin-right: 12px;
  text-align: center;
}

/* Tooltip */
.tooltip {
  display: none;
}
